<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand title" href="/">CRUD</a>
    </div>
    <div class="nav navbar-nav">
        <h3>Zignuts Technolab Pvt. Ltd.</h3>
    </div>
    <button type="button" onclick="window.location.href = '/addCourse'" class="btn btn-default navbar-btn btn-title" style="border: 1px solid #0061d5;">Add Course</button>
</nav>
